.step__corners {
    .option-image {
        width: 150px;
        height: 150px;
        display: block;
        margin: auto;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.option-image {
    @each $current-corner in $corners-list {
        .corners__#{$current-corner} & {
            background-image: url('../assets/corners/corners-#{$current-corner}.png');
        }
    }
}
