@import "_turnaround";
@import "_paper";
@import "_sides";
@import "_orientation";
@import "_corners";
@import "_logic";

.form-step {
    //display: none;
    text-align: center;
    opacity: 0;
}

.form-step--current {
    display: block;
    opacity: 1;
}

.option-container {
    display: inline-block;
    width: 500px;
    max-width: calc(33% - 50px);
    margin: 24px;

    .option-input {
        display: none;

        &:checked ~ label .option-image:before {
            background-color: #1482be;
        }
    }

    label {
        display: block;
        position: relative;
        width: 100%;
        cursor: pointer;

        .option-image:before {
            content: "";
            display: block;
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 20px;
            background-clip: content-box;
            padding: 3px;
            border: 1px solid #1482be;
            top: 50%;
            left: -50px;
            transform: translateY(-50%);
            transition: all 200ms ease;
        }
    }

    .option-title {
        font-size: 2.25em;
        color: #555555;
        font-weight: bold;
        text-align: center;
    }

    .option-image {
        position: relative;
    }
}
