@media (max-width: 768px) {
 .options-container {
  flex-wrap: wrap;
 }
 .option-container {
  width: 100%;
  max-width: 100%;
  background-color: #fafafa;
  margin: 8px 0;
  label {
   display: flex;
   .option-image {
    width: 70px;
    height: 70px;
    background-size: contain;
    margin-left: 75px;
    &:before {
     left: -40px;
    }
   }
  }
  .option-title {
   flex-grow: 1;
   margin-left: 50px;
   font-size: 30px;
   text-align: left;
   color: #555555;
  }
 }
 h1.step-title {
  display: block !important;
  margin-top: 36px;
 }
}
