.has-turnaround-5-14 {
 .option-container {
  &.paper__uncoated,
  &.sides__1-sided,
  &.corners__18-round,
  &.corners__14-round {
   display: none;
  }
 }
}

.has-paper-uncoated {
 .option-container {
  &.corners__18-round,
  &.corners__14-round {
   display: none;
  }
 }
}
