/* --------------------------------

Primary style

-------------------------------- */
.cd-breadcrumb,
.cd-multi-steps {
    width: 90%;
    max-width: 768px;
    padding: 0.5em 1em;
    margin: 1em auto;
    background-color: #edeff0;
    border-radius: 0.25em;
}

.cd-breadcrumb:after,
.cd-multi-steps:after {
    content: "";
    display: table;
    clear: both;
}

.cd-breadcrumb li,
.cd-multi-steps li {
    display: inline-block;
    float: left;
    margin: 0.5em 0;
}

.cd-breadcrumb li::after,
.cd-multi-steps li::after {
    /* this is the separator between items */
    display: inline-block;
    content: '\00bb';
    margin: 0 0.6em;
    color: #959fa5;
}

.cd-breadcrumb li:last-of-type::after,
.cd-multi-steps li:last-of-type::after {
    /* hide separator after the last item */
    display: none;
}

.cd-breadcrumb li > *,
.cd-multi-steps li > * {
    /* single step */
    display: inline-block;
    font-size: 1.4em;
    color: #2c3f4c;
}

.cd-breadcrumb li.current > *,
.cd-multi-steps li.current > * {
    /* selected step */
    color: #ec008c;
    transition: color 400ms;
}

.no-touch .cd-breadcrumb a:hover,
.no-touch .cd-multi-steps a:hover {
    /* steps already visited */
    color: #ec008c;
}
@media only screen and (min-width: 769px) {
    .cd-breadcrumb,
    .cd-multi-steps {
        padding: 0 1.2em;
    }

    .cd-breadcrumb li,
    .cd-multi-steps li {
        margin: 1.2em 0;
    }

    .cd-breadcrumb li::after,
    .cd-multi-steps li::after {
        margin: 0 1em;
    }

    .cd-breadcrumb li > *,
    .cd-multi-steps li > * {
        font-size: 1.6em;
    }
}
/* --------------------------------

Triangle breadcrumb

-------------------------------- */
@media only screen and (min-width: 769px) {
    .cd-breadcrumb.triangle {
        /* reset basic style */
        background-color: transparent;
        padding: 0;
    }

    .cd-breadcrumb.triangle li {
        position: relative;
        padding: 0;
        margin: 4px 4px 4px 0;
    }

    .cd-breadcrumb.triangle li:last-of-type {
        margin-right: 0;
    }

    .cd-breadcrumb.triangle li > * {
        position: relative;
        padding: 1em 0.8em 1em 2.5em;
        color: #bbbbbb;
        background-color: #edeff0;
        /* the border color is used to style its ::after pseudo-element */
        border-color: #edeff0;
    }

    .cd-breadcrumb.triangle li.current > * {
        /* selected step */
        color: #ffffff;
        background-color: #ec008c;
        border-color: #ec008c;
        transition: all 400ms;
    }

    .cd-breadcrumb.triangle li:first-of-type > * {
        padding-left: 1.6em;
        border-radius: 0.25em 0 0 0.25em;
    }

    .cd-breadcrumb.triangle li:last-of-type > * {
        padding-right: 1.6em;
        border-radius: 0 0.25em 0.25em 0;
    }

    .no-touch .cd-breadcrumb.triangle a:hover {
        /* steps already visited */
        color: #ffffff;
        background-color: #2c3f4c;
        border-color: #2c3f4c;
    }

    .cd-breadcrumb.triangle li > *::after,
    .cd-breadcrumb.triangle li::after {
        /*
    	li > *::after is the colored triangle after each item
    	li::after is the white separator between two items
    */
        content: '';
        position: absolute;
        top: 0;
        left: 100%;
        content: '';
        height: 0;
        width: 0;
        /* 48px is the height of the <a> element */
        border: 24px solid transparent;
        border-right-width: 0;
        border-left-width: 20px;
    }

    .cd-breadcrumb.triangle li::after {
        /* this is the white separator between two items */
        z-index: 1;
        -webkit-transform: translateX(4px);
        -moz-transform: translateX(4px);
        -ms-transform: translateX(4px);
        -o-transform: translateX(4px);
        transform: translateX(4px);
        border-left-color: #ffffff;
        /* reset style */
        margin: 0;
    }

    .cd-breadcrumb.triangle li > *::after {
        /* this is the colored triangle after each element */
        z-index: 2;
        border-left-color: inherit;
    }

    .cd-breadcrumb.triangle li:last-of-type > *::after,
    .cd-breadcrumb.triangle li:last-of-type::after {
        /* hide the triangle after the last step */
        display: none;
    }
    @-moz-document url-prefix() {
        .cd-breadcrumb.triangle li > *::after,
        .cd-breadcrumb.triangle li::after {
            /* fix a bug on Firefix - tooth edge on css triangle */
            border-left-style: dashed;
        }
    }
}
/* --------------------------------

Multi steps indicator

-------------------------------- */
@media only screen and (max-width: 768px) {
    .cd-multi-steps {
        /* reset style */
        background-color: transparent;
        padding: 0;
        text-align: center;
    }

    .cd-multi-steps li {
        position: relative;
        float: none;
        margin: 0.4em 30px 0.4em 0;
    }

    .cd-multi-steps li:last-of-type {
        margin-right: 0;
    }

    .cd-multi-steps li::after {
        /* this is the line connecting 2 adjacent items */
        position: absolute;
        content: '';
        height: 4px;
        background: #edeff0;
        /* reset style */
        margin: 0;
    }

    .cd-multi-steps li.visited::after {
        background-color: #ec008c;
    }

    .cd-multi-steps li > *,
    .cd-multi-steps li.current > * {
        position: relative;
        color: #2c3f4c;
        transition: all 400ms;
    }

    .cd-multi-steps.text-top li {
        width: 30px;
        text-align: center;
    }

    .cd-multi-steps.text-top li::after {
        /* this is the line connecting 2 adjacent items */
        position: absolute;
        left: 50%;
        /* 40px is the <li> right margin value */
        width: calc(100% + 40px);
    }

    .cd-multi-steps.text-top li > *::before {
        /* this is the spot indicator */
        content: '';
        position: absolute;
        z-index: 1;
        left: 50%;
        right: auto;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background-color: #edeff0;
    }

    .cd-multi-steps.text-top li.current > *::before,
    .cd-multi-steps.text-top li.visited > *::before {
        background-color: #ec008c;
        transition: all 400ms;
    }

    .no-touch .cd-multi-steps.text-top a:hover {
        color: #ec008c;
    }

    .no-touch .cd-multi-steps.text-top a:hover::before {
        box-shadow: 0 0 0 3px rgba(150, 192, 61, 0.3);
    }

    .cd-multi-steps.text-top li::after {
        /* this is the line connecting 2 adjacent items */
        bottom: 4px;
    }

    .cd-multi-steps.text-top li > * {
        padding-bottom: 20px;
    }

    .cd-multi-steps.text-top li > *::before {
        /* this is the spot indicator */
        bottom: 0;
    }
}
.multistep-container {
  .cd-breadcrumb,
  .cd-multi-steps {
      max-width: 1200px;
      margin-bottom: 36px;
  }

  .cd-breadcrumb.triangle li > * {
      width: 100%;
      text-align: center;
  }
  @media only screen and (min-width: 769px) {
      .cd-breadcrumb.triangle li {
          width: 19%;
      }

      .cd-breadcrumb.triangle li > *::after,
      .cd-breadcrumb.triangle li::after {
          border-width: 1.625em;
      }
  }
  @media only screen and (max-width: 665px) {
      .cd-multi-steps.text-bottom li,
      .cd-multi-steps.text-top li {
          width: 30px;
          font-size: 0.8em;
      }
  }
  @media only screen and (max-width: 768px) {
      .cd-multi-steps.text-top li > *::before {
          height: 20px;
          width: 20px;
          top: 4px;
      }
  }

  .cd-breadcrumb li > *,
  .cd-multi-steps li > * {
      font-size: 1.1em;
      font-weight: 600;
  }

}
