.step__orientation {
    .option-image {
        width: 250px;
        height: 300px;
        display: block;
        margin: auto;
        background-position: center;
        background-repeat: no-repeat;
    }
}


@each $current-paper in $papers-list {
    .has-paper-#{$current-paper} {
        @each $current-side in $sides-list {
            &.has-sides-#{$current-side} {
                @each $current-orientation in $orientations-list {
                    .orientation__#{$current-orientation} .option-image {
                        background-image: url('../assets/orientation/orientation-#{$current-paper}-#{$current-orientation}-#{$current-side}.png');
                    }
                }
            }
        }
    }
}
