.step__paper {
    .option-image {
        width: 200px;
        height: 300px;
        display: block;
        margin: auto;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.option-image {
 @each $current-paper in $papers-list {
  .paper__#{$current-paper} & {
      background-image: url('../assets/paper/paper-#{$current-paper}.png');
  }
 }

}
