.step__sides {
    .option-image {
        width: 250px;
        height: 300px;
        display: block;
        margin: auto;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.option-image {
    .sides__1-sided & {
        width: 200px;
    }
}
@each $current-paper in $papers-list {
    .has-paper-#{$current-paper} {
        @each $current-side in $sides-list {
            .sides__#{$current-side} .option-image {
                background-image: url('../assets/sides/sides-#{$current-paper}-#{$current-side}.png');
            }
        }
    }
}
