.step__turnaround {
    .option-image {
        width: 250px;
        height: 250px;
        display: block;
        margin: auto;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.option-image {
    @each $current-turnaround in $turnarounds-list {
        .turnaround__#{$current-turnaround} & {
            background-image: url('../assets/turnaround/turnaround-#{$current-turnaround}.png');
        }
    }
}
