h1.step-title {
    color: #2c355f;
    font-size: 48px;
    margin-top: initial;
    font-weight: 600;
    text-transform: capitalize;
    font-family: "Source Sans Pro", sans-serif;
    display: none;
}

h2.option-title {
    font-family: "Source Sans Pro", sans-serif;
    text-transform: capitalize;
    line-height: 1.5;
}

.multistep-container .cd-multi-steps li > *,
.multistep-container .cd-breadcrumb li > * {
    text-transform: uppercase;
    font-size: 1em;
    line-height: 1.3;
    font-weight: bold;
}
@media (max-width: 768px) {
 .multistep-container .cd-multi-steps li > * {
     font-size: 0;
 }
}
