$primary-color: #1482be;
$accent-color: #ec008c;

$turnarounds-list: '3-5' '5-14';
$papers-list: 'matte-glossy' 'u-v-coated' 'uncoated';
$sides-list : '2-sided' '1-sided';
$orientations-list: 'horizontal' 'vertical';
$corners-list: 'standard' '18-round' '14-round';

$orientations-sizes: (
  '1-sided_horizontal': (
                         'width': 257px,
                         'height': 151px),
  '2-sided_horizontal': (
                         'width': 281px,
                         'height': 223px),
  '1-sided_vertical': (
                         'width': 151px,
                         'height': 257px),
  '2-sided_vertical': (
                         'width': 223px,
                         'height': 281px)
);
