@import "_variables";
@import "_multistep";
@import "_form-component";
@import "_form-component-responsive";
@import "_typography";
body {
 margin: 0;
}
.app-container {
    font-size: 62.5%;
    margin: 64px 0;
}

.multistep-container {
    font-size: 1.6em;
    font-family: "Source Sans Pro", sans-serif;
    color: #2c355f;
    background-color: #ffffff;

    *,
    *::after,
    *::before {
        box-sizing: border-box;
    }

    a {
        color: #2c355f;
        font-weight: 500;
        text-decoration: none;
    }

    .form-step {
     transition: all 200ms ease;
     opacity: 0;
     display: none;
     &.form-step--current {
      opacity: 1;
      display: block;
     }
    }
    .options-container {
     display: flex;
     justify-content: space-around;
    }
}
